body {
    background: #f0f2f5;
    font-family: 'Gill Sans', sans-serif;
    color: white;
    min-height: 100vh;
    overflow: hidden;
}

/* Three Section Colors */
.left-panel { background: #1a237e !important; } 
.right-panel { background: #1a237e !important; } 

.panel {
    border-radius: 15px;
    padding: 20px;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.quiz-card {
    background: white;
    color: #333;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.quiz-heading {
    font-size: 26px;
    font-weight: bold;
    color: #1a237e;
}

li { margin: 10px; cursor: pointer; }
.green { color: #ffeb3b; font-weight: bold; }

/* row column */
.number-circle {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 12px;
    justify-items: center;
    margin-top: 15px;
}

.number-circle button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card ul li {
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 8px;
}

.quiz-card ul li:hover {
    background: #e8f0fe;
    border-color: #1a237e;
}

/* Bottom Timer Box */
.timer-box {
    background: rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 15px;
    margin-top: auto; 
}

#timer {
    font-size: 32px;
    font-weight: bold;
    color: #ffeb3b;
}

/* Result Overlay */
.result-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,.7); display: flex; justify-content: center;
    align-items: center; backdrop-filter: blur(8px); opacity: 0;
    pointer-events: none; transition: .4s; z-index: 999;
}
.result-overlay.active { opacity: 1; pointer-events: auto; }
.result-box {
    background: white; color: black; padding: 40px; border-radius: 20px;
    text-align: center; transform: scale(.7); transition: .4s; min-width: 300px;
}
.result-overlay.active .result-box { transform: scale(1); }